[Unit]
Description=Logitech key remapping daemon
Documentation=https://github.com/nickbclifford/gkeybind

StartLimitIntervalSec=500
StartLimitBurst=3

[Service]
ExecStart=gkeybind
# In case devices aren't initialized when the service starts
# The following are all known user errors
Restart=on-failure
RestartPreventExitStatus=64 65 66
RestartSec=10s

[Install]
WantedBy=multi-user.target