[Unit]
Description=Logitech key remapping daemon
Documentation=https://github.com/nickbclifford/gkeybind

StartLimitIntervalSec=500
StartLimitBurst=3

[Service]
ExecStart=gkeybind
# In case devices aren't initialized when the service starts
# Exit code 1 is for internal and system errors
# User/input errors will have different codes, we don't want to restart on those
RestartForceExitStatus=1
RestartSec=10s

[Install]
WantedBy=multi-user.target